form{
    padding: 16px;
    border-radius: 16px;
    margin: 36px 32px 8px 0px;
    background-color: var(--negro);
    color: var(--blanco);

}
form h5{
    padding-bottom: 16px;
    text-align: center;
    color: var(--blanco);
}

.buttonform{
    width: 100%;
    padding: 8px;
    border-radius: 32px;
    background-color: var(--primario);
    background-image: linear-gradient(var(--primario_claro),var(--primario_oscuro));
    font-size: var(--letra_boton);
    font-weight: bold;
    color: var(--blanco);
    cursor: pointer;
}
.buttonform:hover{
    color: var(--negro);
    
}
.input-grp input{
    display: block;
    width: 100%;
    padding: 8px;
    background-color: var(--blanco);
    color: var(--negro);
    border-radius: 16px;
    border: 1px solid var(--gris_claro);
    box-sizing: border-box;
    margin-bottom: 16px;

}
.input-grp label{
    display: none;
}
.error{
    display: none;
}
.input-grp .error{
    padding: 10px;
    border: 2px solid var(--color_error);
    color: var(--color_error);
    border-radius: 16px;
    margin-top: 16px;
}
.checkbox {
    text-align: left;
    margin-top: 16px;
}
.checkbox a{
    color: var(--primario_claro);
}