

  .cardBig{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 432px;
    height: 532px;
    margin: 4px;
    padding: 24px;
  
    border-radius: 16px;
    box-shadow: 1px 1px 16px 2px inset var(--gris_claro);

  }

  .cardBig figure{
    overflow: hidden;
    margin: 0 auto;
    height:448px;
    width: 336px;
    text-align: center;
    border-radius: 16px;
  }
  .cardBig figure img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 16px;
    
  }
   .card-title-grp{
    max-width: 100%;
    margin-top: 8px;
    font-weight: bold;
  }
  .card-content{
    max-width: 100%;
    height: 172px;
  }
  .cardBig h5{
    text-align: center;
  }
  .price-grp{
    text-align: center;
    margin-top: 8px;
    
  }
  .description{
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .rating{
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: center;
  }
  .rating p{
    max-width: 100%;
    box-sizing: border-box;
   
  }
  .filled{
    color: var(--gris_claro);
  }
  .card-footer{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
 
  }
 
 
 .card-footer input{
    border-radius: 16px;
    text-align: center;
    border: 1px solid var(--gris_claro);
 }